<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Tables - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./js/board.js"></script>
    <script src="https://kit.fontawesome.com/3c26041fb8.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-white hd_nav justify-content-between">
        <div class="nav_box d-flex align-items-center">
            <!-- Navbar Brand-->
            <a class="hd_logo pl-4" href="../templates/index.html">One Shot</a>
            <!-- Sidebar Toggle-->
            <!-- <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                    class="fas fa-bars"></i></button> -->
            <!-- Navbar Search-->
        </div>
        <form action="" class="ml-3">
            <div class="position-absolute inset-y-0 flex align-items-center justify-content-center pl-2 nav_search_icon_box">
                <svg class="w-4 h-4 nav_search_icon" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                  </svg>
            </div>
            <input class="nav_search rounded" type="text" placeholder="Search for House">
        </form>
        <div class="nav_box d-flex">
            <ul class="user_wrap d-flex pb-0 mb-0 align-items-center">
                <!-- <li class="nav_user_icon icon1">
                    <p class="mb-0">
                      <svg class="w-5 h-5 d-flex align-items-first" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                      </svg>
                    </p>
                </li> -->
                <li class="nav_user_icon icon2 mr-2 ml-2 ">
                    <svg class="w-5 h-5 d-flex align-items-first" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path>
                      </svg>
                </li>
                <li class="nav_user_icon icon3 mr-2 ml-2 position-relative ">
                    <p class="mb-0"><i class="fa-solid fa-user d-flex align-items-first"></i></p>
                    <form class="nav_user_info_wrap position-absolute rounded bg-white">
                        <div class="input-group rounded">
                            <a class="nav-link rounded" href="login.html" th:href="@{/templates/login}" ><i class="fa-solid fa-right-to-bracket mr-2"></i>Login</a>
                            <a class="nav-link rounded" href="register.html" th:href="@{/member/new}"><i class="fa-solid fa-registered mr-2"></i>Register</a>
                        </div>
                    </form>
                </li>
                <li class="nav_user_icon icon4 mr-2 ml-2 position-relative ">
                    <p class="mb-0"><i class="fa-solid fa-bars d-flex align-items-first"></i></p>
                    <form class="nav_user_submenu_wrap position-absolute rounded bg-white">
                        <div class="input-group rounded">
                            <a class="nav-link rounded" href="../templates/index.html" >
                                <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                    <path d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                                  </svg>
                                아파트 거래 정보</a>
                            <a class="nav-link rounded" href="tables.html" th:href="@{/posts}">
                                <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                    <path d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"></path>
                                  </svg>
                                자유게시판</a>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        <!-- Navbar-->
    </nav>
    <script>
        $( '.icon3 p' ).click( function() {
          $( '.nav_user_info_wrap' ).slideToggle();
        } );
        $( '.nav_user_info_wrap' ).mouseleave( function() {
          $( '.nav_user_info_wrap' ).slideToggle();
        } );
        $( '.icon4 p' ).click( function() {
          $( '.nav_user_submenu_wrap' ).slideToggle();
        } );
        $( '.nav_user_submenu_wrap' ).mouseleave( function() {
          $( '.nav_user_submenu_wrap' ).slideToggle();
        } );
    </script>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav" >
            <nav class="sb-sidenav accordion sb-sidenav-white" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading" style="visibility: hidden;">Core</div>
                        <a class="nav-link" href="../templates/index.html">
                            <div class="sb-nav-link-icon">
                                <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                              </svg>
                            </div>
                            아파트 거래 정보
                        </a><a class="nav-link active" href="tables.html">
                            <div class="sb-nav-link-icon">
                              <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"></path>
                              </svg>
                            </div>
                            자유게시판
                        </a>
                        <a class="nav-link acc_btn d-flex justify-content-between align-items-center" href="register.html" th:href="@{/member/new}">Create account <span>+</span>
                        </a>
                    </div>
                </div>
                <!-- <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div> -->
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">자유게시판</h1>
                    <div class="card mb-4 mt-4">
                        <div class="card-body">
                            자유롭게 소통할 수 있는 공간입니다.
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            게시글 목록
                        </div>
                        <div class="card-body" style="height:500px; overflow: auto;">
                            <div class="row ml-2 mr-2">
                                <table class="table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 5%;">번호</th>
                                            <th style="width: 65%;">제목</th>
                                            <th style="width: 15%;">작성자</th>
                                            <th style="width: 15%;">게시일</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>2</td>
                                            <td>2</td>
                                            <td>2</td>
                                            <td>2</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="row">
                                <div class="col-10" style="text-align: right; padding-right: 100px;">
                                    <button type="button" class="btn btn-primary" onclick="location.href='write.html'">
                                        페이지네이션
                                    </button>
                                </div>
                                <div class="col-2" style="text-align: right; padding-right: 100px;">
                                    <!-- Button to Open the Modal -->
                                    <button type="button" class="btn btn-primary" onclick="location.href='write.html'">
                                        글쓰기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
</body>

</html>